.react-inputs- {
    color: #d8000c;
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: normal;
}

.react-inputs-validation__error___2aXSp {
    color: #d8000c;
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: normal;
}
